@charset "UTF-8";

.round-border {
	border: 2px solid red;
	border-radius: 5px;
	}
.padding-plus {
	padding: 50px 0px 0px 20px;
	box-sizing: border-box;
	width: 600px;
	top: 200px;
	}
	
p {
	font-size: 30px;
	color: red;
	}
	
h1 {
	
}

.startbildschirm {
	padding: 100px
}